[submodule "tests/stattests/implementations/sp800_22_tests"]
	path = tests/stattests/implementations/sp800_22_tests
	url = https://github.com/Honno/sp800_22_tests
[submodule "tests/stattests/implementations/r4nd0m"]
	path = tests/stattests/implementations/r4nd0m
	url = https://github.com/Honno/r4nd0m
