[submodule "tests/randtests/implementations/r4nd0m"]
	path = tests/randtests/implementations/r4nd0m
	url = https://github.com/Honno/r4nd0m
[submodule "tests/randtests/implementations/sp800_22_tests"]
	path = tests/randtests/implementations/sp800_22_tests
	url = https://github.com/Honno/sp800_22_tests
